@{
    ViewData["Title"] = "Chill Scrabble";
    ViewData["BodyClass"] = "main-background";
}


<main style="height: 90vh; " class="container container-vertical">
    <header style="height: 10vh; padding-right: 1vh; background-image: url('/images/Rules/header.png')">
        <button
            style="height: 7vh; width: 7vh; background-color: transparent; background-image: url('/images/Shared/back_button.svg'); "
            onclick="window.location.href='/'"></button>
        <h3>GAME RULES</h3>
        <img src="/images/Rules/chips.svg" width="80" height="80">
    </header>


    <div class="scrollable-container">
        <div class="container container-vertical text">
            <h3>About the Game</h3>
            <p>Scrabble is a two-player board game where players compete to form words using letter tiles on a game board.</p>

            <h3>Gameplay</h3>
            <p>At the start of the game, each player receives tiles. On each turn, a player can form multiple words. The first word played must pass through the center square, and each new word must connect (share at least one letter) with previously played words. Words can only be read horizontally from left to right and vertically from top to bottom. After each turn, players must draw new tiles to maintain {7} tiles. If a player uses all {7} tiles in a single turn, they receive bonus points.</p>

            <h3>Dictionary</h3>
            <p>All words from the standard dictionary with a minimum length of letters are allowed, except for proper nouns, abbreviations, and words containing apostrophes or hyphens. Only common nouns in the nominative case and singular form are permitted (or plural forms if the word doesn't have a singular form). If a player cannot or chooses not to form a word, they may exchange any number of their tiles, forfeiting their turn.</p>

            <h3>Scoring</h3>
            <p>Each letter has a point value from 1 to 15. Some squares on the board are colored differently. The score for a word is calculated as follows:
                If the square under a letter is colorless: add the letter's point value
                Green square: letter's value is multiplied by 2
                Yellow square: letter's value is multiplied by 3
                Blue square: the entire word's value is multiplied by 2
                Red square: the entire word's value is multiplied by 3
            
            </p>

            <h3>Length Bonus</h3>
            <p>No additional points are awarded for words up to 4 letters long. For longer words, each additional letter beyond 4 earns bonus points.</p>

            <h3>Wildcards</h3>
            <p>The tile set includes three wildcards. These tiles can be used as any letter of the player's choice.</p>

            <h3>Game Bonuses</h3>
            <p>Swap: Exchange letters without losing a turn
                Wildcard: Replace one of your letters with a wildcard
                Hint: Helps find good combinations when you're struggling to form a word
            </p>
        </div>
    </div>

    <img class="chill-guy" src="/images/Shared/chill_guy.png"/>


</main>

