@{
    ViewData["Title"] = "Chill Scrabble";
    ViewData["BodyClass"] = "main-background";
}


<main style="height: 90vh; " class="container container-vertical">
    <header style="height: 10vh; padding-right: 1vh; background-image: url('/images/Rules/header.png')">
        <button
            style="height: 7vh; width: 7vh; background-color: transparent; background-image: url('/images/Shared/back_button.svg'); "
            onclick="window.location.href='/'"></button>
        <h3>GAME RULES</h3>
        <img src="/images/Rules/chips.svg" width="80" height="80">
    </header>


    <div class="scrollable-container">
        <div class="container container-vertical text">
            <h3>Об игре</h3>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
            <p>Scrabble — настольная игра на двоих, в которой игроки состязаются в образовании слов с использованием
                буквенных плиток на игровом поле.</p>
        </div>
    </div>

    <img class="chill-guy" src="/images/Shared/chill_guy.png"/>


</main>

