@model ChillScrabble.Models.Game

@{
    var colors = new Dictionary<int, string>
    {
        [Game.Mid] = "#EFEFEF",
        [Game.Mpt] = "#264158", 
        [Game.Lx2] ="#91AF97", 
        [Game.Lx3] = "#FEDCA0", 
        [Game.Wx2] = "#909EA9", 
        [Game.Wx3] = "#D1401E" 
    };

    var header = new Dictionary<int, List<string>>
    {
        [Game.OnlM] = ["header_online.png", "Online mode"],
        [Game.OffM] = ["header_offline.png", "Chill offline"],
        [Game.BotM] = ["header_bot.png", "With bot"]
    };
    
    ViewData["Title"] = header[Model.Mode][1];
    ViewData["BodyClass"] = "main-background";
}


<main style="height: 90vh; " class="container container-vertical">
    <header style="height: 10vh; background-image: url('/images/Game/@header[Model.Mode][0]')">
        <button style="height: 7vh; width: 7vh; background-color: transparent; background-image: url('/images/Shared/back_button.svg'); "
                onclick="window.location.href='/'"></button>
        <h3>@header[Model.Mode][1].ToUpper()</h3>
        <button style="height: 7vh; width: 7vh; background-color: transparent; background-image: url('/images/Game/menu_button.svg'); "
                onclick="window.location.href='/'"></button>
    </header>

    <div style="height: 80vh" class="container container-horizontal">
        <div style="justify-content: center; " class="container container-vertical">
            <div class="bonus"></div>
            <div class="bonus"></div>
            <div class="bonus"></div>
        </div>
        
        <div style="width: 80vh;" class="game-board">
            <div class="board-grid">
                @for (int i = 0; i < Model.Board.GetLength(0); i++)
                {
                    @for (int j = 0; j < Model.Board.GetLength(1); j++)
                    {
                        var bonus = Model.BoardBonus[i, j];
                        <div class="cell" style="background-color: @colors[bonus];"></div>
                    }
                }
            </div>
        </div>
        <div class="container container-vertical">
            @foreach (var player in Model.Players)
            {
                <div class="player-slot">
                    <div class="container container-horizontal">
                        <img style="height: 17vh;" src="/images/Game/player_img.png">
                        <div>
                            <h3>@player.Name</h3>
                            <p><strong style="font-size: 7vh; -webkit-text-stroke: 0.01vh black;">@player.Score</strong> POINTS</p>
                        </div>
                    </div>

                    <div class="slots">
                        @for (int i = 0; i < 14; i++)
                        {
                            <div class="slot"></div>
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</main>


