@{
    ViewData["Title"] = "Chill Scrabble";
    ViewData["BodyClass"] = "main-background";
}


<main style="height: 90vh; " class="container container-vertical">
    <header style="height: 10vh; background-image: url('/images/Game/header_settings.png')">
        <button style="height: 7vh; width: 7vh; background-color: transparent; background-image: url('/images/Game/back_button.svg'); "
                onclick="window.location.href='/'"></button>
    </header>

    <div style="height: 80vh" class="container container-horizontal">
        <div style="width: 80vh;" class="game-board">
            <div class="board-grid"></div>
        </div>
        <div class="container container-vertical">
            <div class="player-slot">
                
            </div>
            <div class="player-slot">
                
            </div>
        </div>
    </div>

    <script src="/js/Game.js"></script>
</main>


