@{
    ViewData["Title"] = "Главная страница";
    ViewData["BodyClass"] = "main-background";
}

<div style="height: 83vh">
    <div class="container container-vertical">
        <div style="height: 50vh" class="container container-horizontal">
            <div style="width: 48vh" class="container container-button">
                <img src="images/Home/with_bot_game_button.png"/>
            </div>
            
            <div style="width: 72vh" class="container container-button">
                <img src="images/Home/offline_mode_button.png"/>
            </div>
        </div>
        
        <div style="height: 30vh" class="container container-horizontal">
            <div style="width: 75vh" class="container container-button">
                <img src="images/Home/online_mode_button.png"/>
            </div>

            <div style="width: 45vh" class="container container-vertical">
                <div style="height: 16.2vh" class="container container-button">
                    <img src="images/Home/rules_button.png"/>
                </div>

                <div style="height: 10.8vh" class="container container-button">
                    <img src="images/Home/settings_button.png"/>
                </div>
            </div>
        </div>
    </div>
</div>
