@{
    ViewData["Title"] = "Главная страница";
    ViewData["BodyClass"] = "main-background";
}

<main style="height: 80vh;" class="container container-vertical">
    <div style="height: 48vh;" class="container container-horizontal">
        <a href="Game/Index/"
           style="width: 47vh; background-image: url('images/Home/with_bot_game_button.png');"
           class="button">
            <h3 style="top: 5vh; left: 50%; transform: translateX(-50%);">WITH BOT</h3>
        </a>

        <a href="Game/Index/"
           style="width: 66vh; background-image: url('images/Home/offline_mode_button.png');"
           class="button">
            <h3 style="top: 5vh; left: 50%; transform: translateX(-50%);">CHILL OFFLINE</h3>
        </a>
    </div>

    <div style="height: 29vh;" class="container container-horizontal">
        <a href="Game/Index/"
           style="width: 70vh; background-image: url('images/Home/online_mode_button.png');"
           class="button">
            <h3 style="top: 3.5vh; left: 4vh;">ONLINE</h3>
            <h3 style="top: 21.5vh; left: 55vh;">MODE</h3>
        </a>

        <div style="width: 43vh;" class="container container-vertical">
            <a href="Rules/Index"
               style="height: 16vh; background-image: url('images/Home/game_rules_button.png');"
               class="button">
                <h3 style="top: 50%; left: 20vh; transform: translateY(-48%); white-space: pre;">GAME<br>    RULES</h3>
            </a>

            <a href="Settings/Index/"
               style="height: 10vh; background-image: url('images/Home/settings_button.png');"
               class="button">
                <h3 style="top: 50%; left: 7vh; transform: translateY(-40%);">SETTINGS</h3>
            </a>
        </div>
    </div>
</main>
