.container {
    display: flex;
    gap: 3vh;
}

.container-vertical {
    flex-direction: column;
}

.container-horizontal {
    flex-direction: row;
}

.button {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 0.3vh solid black;
    border-radius: 3vh;
}