body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, sans-serif;
}

body.main-background {
    background-image: url('/images/background.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

.container {
    display: flex;
}

.container-vertical {
    height: 100%;
    flex-direction: column; 
}

.container-horizontal {
    width: 100%;
    flex-direction: row; 
}

.button {
    display: flex;
    outline: 5px solid black;
    outline-offset: -5px;
    justify-content: center;
    align-items: center; 
    text-decoration: none;
}
