body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: asinastra, sans-serif;
}

body.main-background {
    background-image: url('/images/Shared/background.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: no-repeat;
}

header {
    display: flex;
    padding-left: 3vh;
    padding-right: 3vh;
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    justify-content: space-between;
    border: 0.3vh solid black;
    border-radius: 3vh;
}

header button {
    border: 0.3vh solid black;
    border-radius: 1vh;
    background-size: cover;
    background-repeat: no-repeat;
}

.container {
    display: flex;
    gap: 3vh;
}

.container-vertical {
    flex-direction: column;
}

.container-horizontal {
    flex-direction: row;
}
